<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nugetorg" value="https://api.nuget.org/v3/index.json" />
		<add key="HogaFramework" value="https://pkgs.dev.azure.com/davidtorresky1/Hoga.Framework/_packaging/Hoga.Framework/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<HogaFramework>
			<add key="Username" value="Jikars" />
			<add key="ClearTextPassword" value="5n4mxeznz3hwvpp7klfflv4k7anwlihc7kctzxqwuznwsbchqgsa" />
		</HogaFramework>
	</packageSourceCredentials>
</configuration>